// Color Variables
$gray-0:#f9f9fa;
$gray-100:#dee1e3;
$gray-200:#bfc5c9;
$gray-300:#98a1a8;
$gray-400:#606e79;
$gray-500:#374047;

$primary-0:#f6fafd;
$primary-100:#e2eff9;
$primary-200:#b5d8f0;
$primary-300:#7dbae5;
$primary-400:#5aa7de;
$primary-500:#2d8fd5;
$primary-600:#006fbe;

$secondary-0:#f1ebfb;
$secondary-100:#ddccf5;
$secondary-200:#c4a6ed;
$secondary-300:#a172e3;
$secondary-400:#864adb;
$secondary-500:#4c00b8;




// Font Variables
$heading-font: 'Poppins',
sans-serif;
$body-font:'PT Sans',
sans-serif;



// Font Size Variables
$step0: 1.2rem;
$base-font: 1.5rem;
$step01: 2.1rem;
$step02: 2.8rem;
$step03: 3.7rem;
$step04: 5rem;
$step05: 6.7rem;
$step06:8.9rem;
$step07:11.9rem;

//Shadows
$boxShadow-100:0 1px 3px 0 rgba(0, 0, 0, 0.1),
0 1px 2px 0 rgba(0, 0, 0, 0.06);

$boxShadow-200:0 4px 6px -1px rgba(0, 0, 0, 0.1),
0 2px 4px -1px rgba(0, 0, 0, 0.06);

$boxShadow-300:0 10px 15px -3px rgba(0, 0, 0, 0.1),
0 4px 6px -2px rgba(0, 0, 0, 0.05);

//Border Radius
$bora-small:0.25rem;
$bora-medium:0.5rem;
$bora-large:0.75rem;