@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Poppins:wght@300;400;500;700&display=swap");
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
@media (min-width: 2860px) {
  html {
    font-size: 200%;
  }
}
@media (min-width: 1900px) {
  html {
    font-size: 100%;
  }
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 1rem;
  border-radius: 0.5rem;
}
body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
}

p,
article {
  word-break: break-word;
  hyphens: auto;
}

body {
  font-size: 1.6rem;
  color: #374047;
  font-weight: 400;
  font-family: "PT Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.page-heading {
  font-size: 5rem;
}

.section-heading {
  font-size: 3.7rem;
}

.scale-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.mb-8 {
  margin-bottom: 0.8rem !important;
}

.mb-16 {
  margin-bottom: 1.6rem !important;
}

.mb-24 {
  margin-bottom: 2.4rem !important;
}

.mb-32 {
  margin-bottom: 3.2rem !important;
}

.mb-40 {
  margin-bottom: 4rem !important;
}

.mb-48 {
  margin-bottom: 4.8rem !important;
}

.twoCol {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 900px) {
  .twoCol {
    flex-direction: column;
  }
}
.twoCol > * {
  width: calc(50% - 2.5vw);
}
@media (max-width: 900px) {
  .twoCol > * {
    width: 100%;
    margin-bottom: 5vw;
  }
}

.navbar {
  width: 100vw;
  padding: 1.6rem 5vw;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding-right: 5vw;
  align-items: center;
  z-index: 100;
  background-color: rgba(246, 250, 253, 0.7);
  box-shadow: 0 1px 1px 0 rgba(66, 66, 66, 0.08), 0 1px 3px 1px rgba(66, 66, 66, 0.16);
  backdrop-filter: blur(15px);
  border-bottom: 1px solid #fff;
  font-weight: 700;
}
@media (max-width: 900px) {
  .navbar {
    backdrop-filter: none;
  }
}
.navbar-logo {
  width: 3.5rem;
}
.navbar-mobile {
  position: absolute;
  width: 60vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  transform: translateX(-150%);
  transition: 400ms cubic-bezier(0.87, 0, 0.13, 1);
  align-items: center;
  flex-direction: column;
  z-index: 100;
  background-color: rgba(226, 239, 249, 0.7);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  border: 0.5px solid rgba(226, 239, 249, 0.8);
  box-shadow: 0 2px 2px 0 rgba(66, 66, 66, 0.08), 0 2px 5px 2px rgba(66, 66, 66, 0.16);
}
@media (max-width: 900px) {
  .navbar-mobile {
    width: 100vw;
  }
}
.navbar-mobile li {
  font-size: 6.7rem;
  color: #2d8fd5;
  font-weight: 700;
}
.navbar-desktop {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .navbar-desktop {
    display: none;
  }
}
.navbar-desktop li a:not(.call-btn):hover {
  color: #006fbe;
}
.navbar-menuIcon {
  display: none;
}
@media (max-width: 900px) {
  .navbar-menuIcon {
    display: block;
  }
}
.navbar-menuIcon button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-direction: column;
  width: 4.4rem;
  height: 4.4rem;
  padding: 0.5rem 0;
  position: relative;
  overflow: hidden;
  z-index: 200;
}
.navbar-menuIcon button:focus {
  outline: 2px solid #2d8fd5;
  outline-offset: 2px;
}
.navbar-menuIcon button span {
  display: inline-block;
  width: 70%;
  height: 3px;
  background-color: #2d8fd5;
  transition: 400ms cubic-bezier(0.87, 0, 0.13, 1);
}
.navbar-menuIcon button span:nth-child(1) {
  width: 50%;
}

.navbar-mobile.active {
  transform: translateX(0);
}

.menuBtn.active span:nth-child(1) {
  transform: translateX(100%);
}
.menuBtn.active span:nth-child(2) {
  transform: translateX(0) rotate(45deg);
}
.menuBtn.active span:nth-child(3) {
  transform: translateY(-0.8rem) rotate(-45deg);
}

.hero {
  width: 100vw;
  padding: 5vw;
  position: relative;
  height: 100vh;
}
@media (max-width: 900px) {
  .hero {
    height: auto;
    padding-top: 8rem;
  }
}
.hero-content {
  position: absolute;
  z-index: 10;
  width: 40%;
  top: 50%;
  transform: translateY(-50%);
}
.hero-content em {
  display: block;
  margin-bottom: 3.2rem;
}
@media (max-width: 900px) {
  .hero-content {
    position: relative;
    top: 0;
    transform: none;
    width: 100%;
    margin-bottom: 3.2rem;
  }
}
.hero-images {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@media (max-width: 900px) {
  .hero-images {
    position: relative;
    top: 0;
    left: 0;
    height: 40rem;
    overflow: hidden;
  }
}
@media (max-width: 680px) {
  .hero-images {
    height: 30rem;
  }
}
.hero-images img {
  position: absolute;
  transform: translateX(100%);
  transition: 300ms ease;
  z-index: 3;
}

.hero-images img.wasActiveImage {
  transform: translateX(-100%);
}

.hero-images img.activeImage {
  transform: translateX(0);
  z-index: 5;
}

.about {
  width: 100vw;
  padding: 0 5vw;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .about {
    flex-direction: column-reverse;
  }
}
.about-image {
  width: 50%;
  height: 60rem;
  border: 1.6rem solid #f9f9fa;
  margin-top: -5vw;
  position: relative;
  z-index: 8;
}
@media (max-width: 900px) {
  .about-image {
    width: 100%;
    margin-top: 0;
    border: none;
  }
}
.about-image img {
  object-position: bottom;
}
.about-content {
  width: 50%;
}
@media (max-width: 900px) {
  .about-content {
    width: 100%;
    margin-bottom: 5vw;
  }
}
.about-content > p {
  font-size: 2.8rem;
  padding: 5vw;
  position: relative;
}
@media (max-width: 900px) {
  .about-content > p {
    margin-bottom: 5vw;
  }
}
.about-content > p::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 2.5vw;
  transform: translateY(-50%);
  width: 0.4rem;
  height: calc(100% - 8vw);
  background-color: #5aa7de;
}
@media (max-width: 900px) {
  .about-content > p::after {
    left: 0;
  }
}
.about-content > article {
  font-size: 2.1rem;
  padding: 5vw;
  margin-left: -5vw;
  background-color: #e2eff9;
  position: relative;
  z-index: 10;
}
@media (max-width: 900px) {
  .about-content > article {
    margin-left: 0;
  }
}

.whyUs {
  width: 100vw;
  padding: 5vw;
}
.whyUs-content > article p {
  margin-bottom: 1.6rem;
}

.projects {
  width: 100vw;
  padding: 5vw;
}
.projects-heading > div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 900px) {
  .projects-heading > div {
    flex-direction: column;
    margin-bottom: 5vw;
  }
}
.projects-heading > div p {
  width: 60%;
}
@media (max-width: 900px) {
  .projects-heading > div p {
    width: 100%;
    margin-bottom: 5vw;
  }
}
.projects-grid {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 35%;
  grid-auto-flow: column;
  grid-template-rows: 1fr;
  grid-auto-columns: 35%;
  align-items: stretch;
  gap: 5vw;
  overflow: scroll hidden;
  overflow-x: scroll;
  overflow-y: hidden;
  cursor: pointer;
}
@media (max-width: 900px) {
  .projects-grid {
    grid-template-columns: 60%;
    grid-auto-columns: 60%;
  }
}
@media (max-width: 680px) {
  .projects-grid {
    grid-template-columns: 80%;
    grid-auto-columns: 80%;
  }
}
.projects-grid img {
  width: 100%;
  object-fit: cover;
}
.projects-grid::-webkit-scrollbar {
  background-color: transparent;
  height: 1px;
}

.project-card {
  position: relative;
  margin-top: 2.5vw;
}
.project-card figcaption {
  position: absolute;
  padding: 2.5vw;
  width: calc(100% - 5vw);
  left: 50%;
  transform: translateX(-50%);
  background-color: #f6fafd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.project-card figcaption span.name {
  color: #006fbe;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  margin-bottom: 1.6rem;
}
.project-card img {
  max-height: 50rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 0.25rem;
  overflow-x: hidden;
  overflow-y: hidden;
}

.project-card:nth-child(2n+1) figcaption {
  top: 0;
}
.project-card:nth-child(2n+1) img {
  margin-top: 5vw;
}

.project-card:nth-child(2n) figcaption {
  bottom: 0;
}
.contact {
  width: 100vw;
  padding: 5vw;
}
.contact-banner {
  height: 40rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 0.25rem;
  overflow-x: hidden;
  overflow-y: hidden;
}
.contact-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 900px) {
  .contact-content {
    flex-direction: column;
  }
}
.contact-content--img {
  width: 50%;
  height: 60rem;
  position: relative;
  border: 1.6rem solid #f9f9fa;
  margin-top: -5vw;
  z-index: 8;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 0.25rem;
  overflow-x: hidden;
  overflow-y: hidden;
}
@media (max-width: 900px) {
  .contact-content--img {
    width: 100%;
  }
}
.contact-content--desc {
  width: 50%;
  padding: 5vw;
}
@media (max-width: 900px) {
  .contact-content--desc {
    width: 100%;
  }
}

.testimonials {
  width: 100vw;
  padding: 5vw;
}
.testimonials-image {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 900px) {
  .testimonials-image {
    display: none;
  }
}
.testimonials-image img {
  max-width: 35rem;
  display: block;
}

.testimonial-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.testimonial-header h2 {
  width: 70%;
}
.testimonial-header button {
  background: none;
  border: none;
  display: block;
  position: relative;
  cursor: pointer;
}
.testimonial-header button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 1.6rem;
  background-color: #7dbae5;
  z-index: -1;
}
.testimonial-header button svg {
  display: block;
}

.testimonial-content {
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
}

.testimonial-card {
  position: relative;
  font-size: 2.1rem;
  transform: translateX(100%);
  transition: 300ms ease;
  background-color: #e2eff9;
  padding: 2.5vw;
  grid-row-start: 1;
  grid-column-start: 1;
}
.testimonial-card p {
  margin-bottom: 1.6rem;
}

.testimonial-card.prevTest {
  transform: translateX(-100%);
}

.testimonial-card.activeTest {
  transform: translateX(0);
  z-index: 5;
}

.primary-link {
  padding: 1.6rem 2.4rem;
  background-color: #2d8fd5;
  color: #f9f9fa;
  border-radius: 0.25rem;
  display: inline-block;
  text-align: center;
}
.primary-link:hover {
  color: #dee1e3;
  background-color: #2d8fd5;
}

.primary-link-small {
  padding: 0.8rem 1.6rem;
  background-color: #2d8fd5;
  color: #f9f9fa;
  border: 2px solid #2d8fd5;
  border-radius: 0.25rem;
  display: inline-block;
  text-align: center;
}
.primary-link-small:hover {
  color: #dee1e3;
  background-color: #5aa7de;
}

.secondary-link {
  padding: 0.8rem 1.6rem;
  background-color: transparent;
  border: 2px solid #5aa7de;
  color: #7dbae5;
  border-radius: 0.25rem;
  display: inline-block;
  text-align: center;
}
.secondary-link:hover {
  color: #dee1e3;
  background-color: #2d8fd5;
}

/*# sourceMappingURL=style.css.map */
