@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Poppins:wght@300;400;500;700&display=swap');

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;

}

html {
    font-size: 62.5%;

    @include breakpoint(twok-above) {
        font-size: 200%;
    }

    @include breakpoint(large-desktop) {
        font-size: 100%;
    }
}

::selection {
    background-color: $secondary-500;
    color: $gray-0;
}

body {
    box-sizing: border-box;
    overflow-x: hidden;




    &::-webkit-scrollbar {
        background-color: $gray-100;
        width: 1rem;
        border-radius: 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $secondary-400;
        border-radius: 0.5rem;
    }


}



a {
    text-decoration: none;
    color: currentColor;


    &:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba($secondary-500, 0.7);
    }
}

ul {
    list-style: none;
}

p,
article {
    word-break: break-word;
    hyphens: auto;
}