body {
    font-size: 1.6rem;
    color: $gray-500;
    font-weight: 400;
    font-family: $body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font;
    font-weight: 500;
}

.page-heading {
    font-size: $step04;
}

.section-heading {
    font-size: $step03;
}