.primary-link {
    padding: 1.6rem 2.4rem;
    background-color: $secondary-500;
    border: 2px solid $secondary-500;
    color: $gray-0;
    border-radius: $bora-small;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: $boxShadow-300;


    &:hover {
        color: $gray-100;
        background-color: $secondary-400;
    }
}

.primary-link-small {
    padding: 0.8rem 1.6rem;
    background-color: $secondary-500;
    color: $gray-0;
    border: 2px solid $secondary-500;
    border-radius: $bora-small;
    display: inline-block;
    text-align: center;
    box-shadow: $boxShadow-300;


    &:hover {
        color: $gray-100;
        background-color: $secondary-400;
    }
}

.secondary-link {
    padding: 0.8rem 1.6rem;
    background-color: transparent;
    border: 2px solid $secondary-500;
    color: $secondary-500;
    border-radius: $bora-small;
    display: inline-block;
    text-align: center;
    box-shadow: $boxShadow-300;


    &:hover {
        color: $gray-100;
        background-color: $secondary-400;
    }
}