.hero {
    width: 100vw;
    padding: 5vw;
    position: relative;
    height: 100vh;
    color: $gray-0;

    @include breakpoint(tab) {
        height: auto;
        padding-top: 6.4rem;
        color: $gray-500;
        display: flex;
        flex-direction: column-reverse;
    }

    &-content {
        position: absolute;
        z-index: 10;
        width: 40%;
        top: 50%;
        transform: translateY(-50%);



        em {
            display: block;
            margin-bottom: 3.2rem;
        }

        @include breakpoint(tab) {
            position: relative;
            top: 0;
            transform: none;
            width: 100%;
            margin-top: 2.4rem;
        }

        a {
            width: 100%;

        }
    }

    &-images {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 6;
            opacity: 0.7;
            background-color: $primary-400;
            mix-blend-mode: multiply;

            @include breakpoint(tab) {
                display: none;
            }
        }

        @include breakpoint(tab) {
            position: relative;
            top: 0;
            left: 0;
            height: 40rem;
            overflow: hidden;
            box-shadow: $boxShadow-200;
            border-radius: $bora-small;
            overflow-x: hidden;
            overflow-y: hidden;
        }

        @include breakpoint(phone) {
            height: 25rem;
        }


        img {
            position: absolute;
            transform: translateX(100%);
            transition: 300ms ease;
            z-index: 3;
        }
    }
}

.hero-images img.wasActiveImage {
    transform: translateX(-100%);
}

.hero-images img.activeImage {
    transform: translateX(0);
    z-index: 5;

}

.about {
    width: 100vw;
    padding: 0 5vw;
    display: flex;
    justify-content: space-between;

    @include breakpoint(tab) {
        flex-direction: column-reverse;
    }

    &-image {
        width: 50%;
        // max-height: 60rem;
        height: 60rem;
        border: 1.6rem solid $gray-0;
        //box-shadow: $boxShadow-300;
        margin-top: -5vw;
        position: relative;
        z-index: 8;

        @include breakpoint(tab) {
            width: 100%;
            margin-top: 0;
            border: none;

        }

        img {
            object-position: bottom;
        }


    }

    &-content {
        width: 50%;

        @include breakpoint(tab) {
            width: 100%;
            margin-bottom: 5vw;
        }

        &>p {
            font-size: $step01;
            padding: 5vw;
            position: relative;

            @include breakpoint(tab) {
                margin-bottom: 5vw;
            }

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 2.5vw;
                transform: translateY(-50%);
                width: 0.4rem;
                height: calc(100% - 8vw);
                background-color: $secondary-500;

                @include breakpoint(tab) {
                    left: 0;
                }
            }

        }

        &>article {
            font-size: $step01;
            padding: 5vw;
            margin-left: -5vw;
            background-color: $primary-100;
            position: relative;
            z-index: 10;

            @include breakpoint(tab) {
                margin-left: 0;
            }
        }
    }
}

.whyUs {
    width: 100vw;
    padding: 5vw;

    &-heading {}

    &-content {

        &>p {}

        &>article {
            p {
                margin-bottom: 1.6rem;
            }
        }
    }
}

.projects {
    width: 100vw;
    padding: 5vw;

    &-heading {

        &>div {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            @include breakpoint(tab) {
                flex-direction: column;
                margin-bottom: 5vw;
            }

            p {
                width: 60%;

                @include breakpoint(tab) {
                    width: 100%;
                    margin-bottom: 5vw;
                }
            }
        }

    }

    &-grid {
        width: 100%;
        position: relative;
        display: grid;
        grid-template-columns: 35%;
        grid-auto-flow: column;
        grid-template-rows: 100%;
        grid-auto-columns: 35%;
        align-items: stretch;
        gap: 5vw;
        overflow: scroll hidden;
        overflow-x: scroll;
        overflow-y: hidden;
        cursor: pointer;

        @include breakpoint(tab) {
            grid-template-columns: 60%;
            grid-auto-columns: 60%;
        }

        @include breakpoint(phone) {
            grid-template-columns: 80%;
            grid-auto-columns: 80%;
        }

        img {
            width: 100%;
            object-fit: cover;
        }

        &::-webkit-scrollbar {
            background-color: transparent;
            height: 1px;
        }
    }


}



.project-card {
    position: relative;
    margin-top: 2.5vw;


    figcaption {
        position: absolute;
        padding: 2.5vw;
        width: calc(100% - 5vw);
        //top: 0;
        left: 50%;
        transform: translateX(-50%);
        // background-color: rgba($primary-200, 0.5);
        background-color: $primary-0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: $boxShadow-200;
        border-radius: $bora-small;
        border: 1px solid rgba(0, 0, 0, 0.1);

        span.name {
            color: $secondary-500;
            text-transform: uppercase;
            font-weight: 700;
            display: block;
            margin-bottom: 0.4rem;

        }

        address {
            margin-bottom: 1.6rem;
            color: $secondary-400;
        }

        span.desc {}
    }

    img {
        width: 100%;
        height: 90%;
        object-fit: cover;
        display: inline-block;
        box-shadow: $boxShadow-200;
        border-radius: $bora-small;
        overflow-x: hidden;
        overflow-y: hidden;
        border: 2px solid red;
    }
}

.project-card:nth-child(2n+1) {
    figcaption {
        top: 0;
    }


    img {
        margin-top: 5vw;

    }
}

.project-card:nth-child(2n) {
    figcaption {
        bottom: 0;
    }


    img {
        // margin-top: -5vw;

    }
}



.testimonials {
    width: 100vw;
    padding: 5vw;

    &-container {}

    &-image {
        display: flex;
        justify-content: flex-end;


        @include breakpoint(tab) {
            display: none;
        }

        img {
            max-width: 35rem;
            display: block;
        }
    }

}



.testimonial-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    h2 {
        width: 70%;
    }

    button {
        background: none;
        border: none;
        //padding: 0.8rem;
        display: block;
        position: relative;
        cursor: pointer;
        width: 3.6rem;
        height: 3.6rem;



        &:focus {
            outline: none;

        }

        &:focus-visible {
            box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4);
        }




        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0.8rem;

            background-color: $primary-300;
            z-index: -1;


        }

        &:hover::after {
            background-color: $primary-400;
        }




        svg {
            display: block;
            transition: transform 100ms ease-in;

        }

        &:hover svg {
            transform: translateX(-0.8rem);
        }

        &:focus svg {
            transform: translateX(0);
        }

        &:active svg {
            transform: translateX(0);
        }

    }
}

.testimonial-content {
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
}

.testimonial-card {
    position: relative;
    font-size: $step01;
    transform: translateX(100%);
    transition: 300ms ease;
    background-color: $primary-100;
    padding: 2.5vw;
    grid-row-start: 1;
    grid-column-start: 1;
    //opacity: 0;

    p {
        margin-bottom: 1.6rem;
    }
}

.testimonial-card.prevTest {
    transform: translateX(-100%);

    //opacity: 0;
}

.testimonial-card.activeTest {
    transform: translateX(0);
    z-index: 5;

    //opacity: 1;

}

.contact {
    width: 100vw;


    &-banner {
        height: 40rem;

        @include breakpoint(tab) {
            display: none;
        }
    }

    &-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0 5vw 5vw 5vw;

        @include breakpoint(tab) {
            flex-direction: column;
        }

        &--img {
            width: 50%;
            height: 60rem;
            position: relative;
            border: 1.6rem solid $gray-0;
            margin-top: -5vw;
            z-index: 8;
            box-shadow: $boxShadow-200;
            border-radius: $bora-small;
            overflow-x: hidden;
            overflow-y: hidden;

            @include breakpoint(tab) {
                width: 100%;
                margin-top: 5vw;
                border: none;
            }
        }

        &--desc {
            width: 50%;
            padding: 5vw;

            @include breakpoint(tab) {
                width: 100%;
            }
        }
    }
}

.homeGallery {
    width: 100vw;


    h2 {
        padding: 5vw;
        padding-bottom: 0;
    }


    &-swiper {

        width: 100%;
        position: relative;
        display: grid;
        grid-template-columns: 20%;
        grid-auto-flow: column;
        grid-template-rows: 40rem;
        grid-auto-columns: 20%;
        align-items: stretch;
        gap: 2.5vw;
        overflow: scroll hidden;
        overflow-x: scroll;
        overflow-y: hidden;
        cursor: pointer;

        @include breakpoint(tab) {
            grid-template-columns: 45%;
            grid-auto-columns: 45%;
        }

        @include breakpoint(phone) {
            grid-template-columns: 80%;
            grid-auto-columns: 80%;
        }


        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &::-webkit-scrollbar {
            background-color: transparent;
            height: 1px;
        }
    }
}