.projectHero {
    width: 100vw;


    &-banner {
        height: 40rem;

        @include breakpoint(tab) {
            height: auto;
        }

        img {
            object-position: bottom;
        }


    }

    &-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0 5vw 5vw 5vw;

        @include breakpoint(tab) {
            flex-direction: column;

        }

        &--img {
            width: 50%;
            height: auto;
            position: relative;
            border: 1.6rem solid $gray-0;
            margin-top: -5vw;
            z-index: 8;
            box-shadow: $boxShadow-200;
            border-radius: $bora-small;
            overflow-x: hidden;
            overflow-y: hidden;

            @include breakpoint(tab) {
                width: 100%;
                margin-top: 5vw;
                border: none;
            }
        }

        &--desc {
            width: 50%;
            padding: 5vw;

            @include breakpoint(tab) {
                width: 100%;
                padding: 5vw 0;
            }
        }
    }
}

.projectsContainer {
    width: 100vw;
    padding: 5vw;


    .projectCard-pp {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5vw;
        padding: 5vw;
        background-color: $primary-100;
        position: relative;
        flex-wrap: wrap;




        &--image {
            width: 50%;
            // box-shadow: $boxShadow-200;
            // border-radius: $bora-small;
            overflow-x: hidden;
            overflow-y: hidden;

            @include breakpoint(tab) {
                width: 100%;
            }

        }

        &--content {
            width: 50%;
            padding: 5vw;

            @include breakpoint(tab) {
                width: 100%;
                padding: 5vw 0;
            }

            h4.projectStatus {
                padding: 0.8rem;
                background-color: $primary-300;
                display: inline-block;
                border-radius: $bora-medium;
                font-size: 1.4rem;
            }

            ul li {
                margin-bottom: 0.8rem;
                position: relative;
                padding-left: 2.4rem;


                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    width: 1.6rem;
                    height: 1.6rem;
                    background-image: url("images/icons/arrow.svg");
                }
            }
        }
    }
}



.projectCard-pp:nth-child(2n+1) {
    flex-direction: row;

    @include breakpoint(tab) {
        flex-direction: column;
    }
}

.projectCard-pp:nth-child(2n) {
    flex-direction: row-reverse;

    @include breakpoint(tab) {
        flex-direction: column;
    }
}


.projectCard-pp--image {

    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 90%;
    grid-auto-flow: column;
    grid-template-rows: 100%;
    grid-auto-columns: 90%;
    // align-items: stretch;
    gap: 2.5vw;
    overflow: scroll hidden;
    overflow-x: scroll;
    overflow-y: hidden;
    cursor: pointer;


    img {

        width: 100%;
        height: 30rem;
        object-fit: cover;
        display: inline-block;
        box-shadow: $boxShadow-200;
        border-radius: $bora-small;
    }

    &::-webkit-scrollbar {
        background-color: $primary-400;
        height: 5px;
    }
}